<html lang="en"/>
  <head>
    <meta charset="utf-8"/>
    <title> {{title}} @ GetSomeInternet </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="keywords"       content="internet, entertainment, get some internet, gsi, boredom, bored, {{fragments}}"/>
    <meta name="description"    content="Join the war against boredom and get some internet!"/>
    <link rel="canonical"       href="{{url}}"/>

    <link rel="icon" type="image/png" href="./common/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./common/favicon-16x16.png" sizes="16x16" />

    <meta name="source" content="{{source}}"/>

    <meta name="twitter:title"      content="{{title}}"/>
    <meta name="twitter:site"       content="@getsomeinternet" />
    <meta name="twitter:domain"     content="getsomeinternet.com" />
    <meta name="twitter:creator"    content="@getsomeinternet" />
    <meta name="twitter:description" content="Join the war against boredom and get some internet!"/>

    <meta property="og:title"       content="{{title}}"/>
    <meta property="og:url"         content="{{url}}" />
    <meta property="og:site_name"   content="GetSomeInternet" />
    <meta property="fb:admins"      content="390754097780247" />
    <meta property="author"         content="GetSomeInternet" />
    <meta property="og:description"  content="Join the war against boredom and get some internet!"/>

    {{#youtube}}
        <meta property="og:image"           content="https://i.ytimg.com/vi/{{data}}/maxresdefault.jpg"/>
        <meta property="og:type"            content="video"/>
        <meta property="og:video:url"       content="https://www.youtube.com/embed/{{data}}"/>
        <meta property="og:video:secure_url"content="https://www.youtube.com/embed/{{data}}"/>
        <meta property="og:video:type"      content="text/html"/>
        <meta property="og:video:width"     content="1280"/>
        <meta property="og:video:height"    content="720"/>
        <meta property="og:video:url"       content="http://www.youtube.com/v/{{data}}?version=3&amp;autohide=1"/>
        <meta property="og:video:secure_url"content="https://www.youtube.com/v/{{data}}?version=3&amp;autohide=1"/>
        <meta property="og:video:type"      content="application/x-shockwave-flash"/>
        <meta property="og:video:width"     content="1280"/>
        <meta property="og:video:height"    content="720"/>

        <meta name="twitter:card" content="player"/>
        <meta name="twitter:url" content="https://www.youtube.com/watch?v={{data}}"/>
        <meta name="twitter:image" content="https://i.ytimg.com/vi/{{data}}/maxresdefault.jpg"/>
        <meta name="twitter:player" content="https://www.youtube.com/embed/{{data}}"/>
        <meta name="twitter:player:width" content="1280"/>
        <meta name="twitter:player:height" content="720"/>

        <link rel="shortcut icon" href="https://s.ytimg.com/yts/img/favicon-{{data}}.ico" type="image/x-icon"/>
        <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_32-{{data}}.png" sizes="32x32"/>
        <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_48-{{data}}.png" sizes="48x48"/>
        <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_96-{{data}}.png" sizes="96x96"/>
        <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_144-{{data}}.png" sizes="144x144"/>
    {{/youtube}}

    {{#video}}
        <meta property="og:type"              content="video.other" />
        <meta property="og:image:width"       content="365" />
        <meta property="og:image:height"      content="150" />
        <meta property="og:image"             content="{{data}}"/>
        <meta property="og:video"             content="{{data}}" />
        <meta property="og:video:type"        content="application/x-shockwave-flash" />
        <meta property="og:video:width"       content="500" />
        <meta property="og:video:height"      content="205" />
        <meta property="og:video:type"        content="video/mp4" />
        <meta name="twitter:card"                       content="player" />
        <meta name="twitter:player:width"               content="365" />
        <meta name="twitter:player:height"              content="150" />
        <meta name="twitter:player:stream"              content="{{data}}" />
        <meta name="twitter:player:stream:content_type" content="video/mp4"/>
    {{/video}}

    {{#gif}}
        <meta property="og:type"              content="video.other" />
        <meta property="og:image"             content="{{data}}"/>
        <meta property="og:image:width"       content="365" />
        <meta property="og:image:height"      content="150" />
        <meta property="og:video"             content="{{data}}" />
        <meta property="og:video:type"        content="application/x-shockwave-flash" />
        <meta property="og:video:width"       content="500" />
        <meta property="og:video:height"      content="205" />
        <meta property="og:video:type"        content="video/mp4" />
        <meta name="twitter:card"                       content="player" />
        <meta name="twitter:player:width"               content="365" />
        <meta name="twitter:player:height"              content="150" />
        <meta name="twitter:player:stream"              content="{{data}}" />
        <meta name="twitter:player:stream:content_type" content="video/mp4"/>
    {{/gif}}

    {{#img}}
        <meta name="twitter:site"       content="@getsomeinternet" />
        <meta name="twitter:domain"     content="getsomeinternet.com" />
        <meta name="twitter:creator"    content="@getsomeinternet" />
        <meta name="twitter:title"      content="{{title}}"/>
        <meta name="twitter:card"       content="photo" />
        <meta name="twitter:image"      content="{{data}}" />
        <meta name="twitter:image:src"  content="{{url}}" />
        <meta property="og:url"                 content="{{url}}" />
        <meta property="og:site_name"           content="GetSomeInternet" />
        <meta property="fb:admins"              content="390754097780247" />
        <meta property="og:title"               content="{{title}}"/>
        <meta property="author"                 content="GetSomeInternet" />
        <meta property="article:author"         content="GetSomeInternet" />
        <meta property="article:publisher"      content="https://www.facebook.com/getsomeinternet"/>
        <meta property="og:type"                content="article" />
        <meta property="og:image"               content="{{data}}" />
        <meta property="og:image:width"         content="365" />
        <meta property="og:image:height"        content="150" />
        <meta property="og:description"         content="Get Some Internet: War against boredom."/>
    {{/img}}

    {{#vimeo}}
      <meta property="og:type"              content="video"/>
      <meta property="og:image"             content="https://i.vimeocdn.com/video/{{data}}_1280x720.webp"/>
      <meta property="og:image:width"       content="1280"/>
      <meta property="og:image:height"      content="720"/>
      <meta property="og:video:url"         content="https://player.vimeo.com/video/{{data}}?autoplay=1"/>
      <meta property="og:video:url"         content="https://vimeo.com/moogaloop.swf?clip_id={{data}}&amp;autoplay=1"/>
      <meta property="og:video:type"        content="application/x-shockwave-flash"/>
      <meta property="og:video:width"       content="1280"/>
      <meta property="og:video:height"      content="720"/>
      <meta name="twitter:card"             content="player"/>
      <meta name="twitter:image"            content="https://i.vimeocdn.com/video/{{data}}_1280x720.webp"/>
      <meta name="twitter:player"           content="https://player.vimeo.com/video/{{data}}"/>
      <meta name="twitter:player:width"     content="1280"/>
      <meta name="twitter:player:height"    content="720"/>
    {{/vimeo}}

    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/nav.css"/>
    <link rel="stylesheet" href="css/modals.css"/>
    <link rel="stylesheet" href="css/stage.css"/>
    <link rel="stylesheet" href="css/mobile.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>

     <meta name="google-site-verification" content="05Ljy3vvlIwwLSwjtnU_UisztIEPXWreGx2zoguypu0" />
     <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-68224459-1', 'auto');
         ga('send', 'pageview');
     </script>
     <script src='http://platform.vine.co/static/scripts/embed.js' async></script>
  </head>
  <body>
    <section id="gsi"></section>
    <script src="js/bundle.js"></script>
  </body>
</html>


<h1>{{header}}</h1>
